@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

@media only screen and (max-width: 769px) {
  /* Show a message specifically for mobile users */
  .mobile-message {
      display: block;
      text-align: center;
      padding: 20px;
      background-image: url(assets/layered-waves-haikei.svg);
      background-color: rgba(0, 0, 0, 0.299);
      font-size: larger;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-image: url("assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section1,
.section2,
.section3,
.section4 {
  width: 95%;
  height: 105vh;
  float: right;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 1s;
}

.navbar {
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

input[type="radio"] {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.box1 {
  height: 60vh;
  margin: 1% 7%;
  font-size: xx-large;
  text-align: center;
}

.box2_1 {
  height: auto;
  margin: 1% 7%;
  font-size: larger;
  background-color: rgba(0, 0, 0, 0.299);
  padding: 1rem;
  border-radius: 20px;
}

span{
  text-align: center;
}

.box3{
  display: flex;
  font-size: large;
}

.box3_1{
  width: 40%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.299);
  padding: 1rem;
  margin-right: 0.5rem;
  border-radius: 20px;
}
