@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-image: url("../assets/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}



.section1,
.section2,
.section3,
.section4 {
  width: 95%;
  height: 105vh;
  float: right;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 1s;
}

.navbar {
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  display: flex;
  flex:1;
  flex-direction:column;
  gap: 2rem;
  align-items: flex-end;
}

input[type="radio"] {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.box1
.box2
.box3
.box4 {
  min-height: 100%;
}

.box1_1{
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
}


.box2_1 {
  height: auto;
  width: auto;
  margin: 1% 10%;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.299);
  padding: 1rem;
  border-radius: 20px;
}
.box3container{
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.box3_1{
  width: 21.5%;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.299);
  padding: 1rem;
  border-radius: 20px;
}
